<section id="code-conduct" class="section code-conduct">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <p>
                    A comunidade Women in Data Science (WiDS) procura inspirar, educar e apoiar todas as pessoas participantes em um ambiente inclusivo, seguro e acolhedor. Esperamos e confiamos que todas cumpram este Código de Conduta em todos os eventos promovidos pela organização do WiDS.
                </p>
                <p>
                    A organização valoriza integridade, diversidade, respeito, liberdade de investigação e expressão, confiança, honestidade, justiça e se esforça para integrar esses valores em suas práticas. O ponto central é o princípio de tratar todas as pessoas de maneira justa e com respeito, abraçar a diversidade e a inclusão. Não são toleradas discriminação com base em raça, credo religioso, cor, nacionalidade, ancestralidade, deficiência física ou mental, condição médica, informações genéticas, estado civil, idade, sexo, orientação sexual, gênero, identidade de gênero, expressão de gênero ou qualquer outra característica protegida por lei.
                </p>
                <p>
                    Espera-se que todas as pessoas participantes sejam atenciosas, respeitosas, colaborativas e evitem comportamentos e palavras humilhantes, discriminatórias ou assediadoras. Espera-se que as participantes estejam conscientes de seu entorno. Isso significa que qualquer conduta intimidadora, assediadora, abusiva ou humilhante de qualquer tipo não será tolerada. Notifique a organização do WiDS ou qualquer membro da equipe do WiDS se você estiver sujeita ou tiver observado esse comportamento. As pessoas participantes solicitadas a interromper qualquer comportamento inaceitável devem cumprir imediatamente. As participantes que violarem este Código de Conduta podem ser solicitadas a deixar o evento a critério exclusivo da organização. Nesses casos, nenhum reembolso será concedido.
                </p>
                
                <p>
                    Este Código de Conduta é baseado no “WiDS Stanford Code of Conduct”, “Stanford University Code of Conduct”, seguido por “Grace Hopper Celebration” e “Game Developers Conference”.
                </p>

            </div>
        </div>
    </div>
</section>