<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="footer-img" src="assets/images/img-footer.svg">
            </div>
            <div class="col-md-6">
                <ul class="social-block">
                    <li><a href="https://www.instagram.com/widsrecife/" target="__blank"><i class="ion-social-instagram-outline"></i></a></li>
                    <li><a href="https://github.com/widsrecife" target="__blank"><i class="ion-social-github"></i></a></li>
                    <!-- <li><a href="https://twitter.com/widsrecife" target="__blank"><i class="ion-social-twitter"></i></a></li> -->
                    <li><a href="https://www.linkedin.com/company/women-in-data-science-recife" target="__blank"><i class="ion-social-linkedin-outline"></i></a></li>
                    <li><a href="mailto:widsrecife@gmail.com" target="__blank"><i class="ion-android-mail"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>