<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header">

            <!-- logo -->
            <div class="site-branding">
                <a class="logo" href="index.html">

                    <!-- logo image  -->
                    <figure>
                        <img src="assets/images/img-navbar.png" alt="Logo" width="280px">
                    </figure>
                    <!-- WiDS Recife -->
                </a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav navbar-right">

                <!-- navigation menu -->
                <li><a data-scroll href="#about">Sobre</a></li>
                <li><a data-scroll href="#facts">Resumo</a></li>
                <li><a data-scroll href="#schedule">Programação</a></li>
                <li><a data-scroll href="#speakers">Facilitadoras</a></li>
                <li><a data-scroll href="#partners">Apoiadoras</a></li>
                <li><a data-scroll href="#faq">FAQs</a></li>
                <li><a data-scroll href="#other_events">Outros eventos</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demais Conferências</a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">WiDS 2020</a></li>
                        <li><a href="index_2019.html">WiDS 2019 (em breve)</a></li>
                        <li><a href="index_2019.html">WiDS 2018 (em breve)</a></li>
                        <li><a href="index_2019.html">WiDS 2017 (em breve)</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container -->
</nav>