<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h3 class="section-title">WiDS Recife 2021</h3>
                
                <p>
                    Women in Data Science Recife é um evento independente organizado por embaixadoras (veja quem são <a href="https://www.widsrecife.com.br/embaixadoras.html">aqui</a>) como parte da conferência anual <a href="https://www.widsconference.org">WiDS Worldwide</a> organizada pela Universidade de Stanford e em mais de <a href="https://www.widsconference.org/ww-regional-events-2021.html">150 locais em todo o mundo</a>, que apresenta mulheres notáveis fazendo trabalhos notáveis no campo da ciência de dados. Todos os gêneros são convidados a participar dos eventos que fazem parte do WiDS Worldwide.
                </p>
                <p>
                    Neste ano, além da conferência, celebramos o <a href="https://www.sympla.com.br/open-data-day-recife__1151721" target="_blank">Open Data Day</a> em parceria com a <a href="https://embaixadoras.ok.org.br/" target="_blank">Rede de Embaixadoras para Inovação Cíviva da Open Knowledge Brasil</a>, evento global com objetivo de ressaltar a importância da abertura de dados e incentivar o reuso pelo governo, empresas e sociedade civil.
                </p>
                <p>
                    Também incentivamos a participação no <a href="https://www.widsconference.org/datathon.html" target="_blank">datathon do WiDS global</a> através de disponibilização de conteúdo didático no nosso <a href="https://youtu.be/KWKfzEU_Nbs" target="_blank">canal no Youtube</a>.
                </p>
                <br>
                <br>
                <h4 class="section-title">Código de conduta</h4>
                <p>
                    Prezamos por ambientes inclusivos, livre de intimidações e discriminação em todos os eventos, conforme detalhado no <a href="../../codigo-conduta.html" target="_blank">Código de Conduta WiDS</a>, o qual recomendamos leitura.
                </p>

            </div>
        </div>
    </div>
</section>
