<section id="partners" class="section partner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Apoiadoras</h3>
            </div>
        </div>
        <div class="row">

            {% for partner in site.data.conference_2018.partners %}
            <div class="col-sm-3">
                <a class="partner-box" href="{{ partner.link }}" target="_blank">
                <figure>
                    <img width="150px" src="../../assets/images/conference-2018/partners/{{ partner.image }}" alt="{{ partner.name }}">
                </figure>
                </a>
            </div>
            {% endfor %}
        </div>
</section>