<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h3 class="section-title">WiDS Recife</h3>

                <p>
                    Criado como um capítulo regional do <a href="https://www.widsconference.org"> Global WiDS </a>, o Women in Data Science Recife tem como objetivo de dar visibilidade à experiências profissionais e pesquisas de mulheres cientistas de dados locais através de uma conferência gratuita anual, cuja programação é composta apenas por palestrantes que se identificam com o gênero feminino. Tendo sido a 1. edição em 2017.
                </p>
                <p>
                    Neste ano, além da conferência, foram promovidos um total de 09 live codings visando estimular mulheres a participarem do datathon global. Que estão disponíveis no nosso <a href="https://www.youtube.com/channel/UCA7tblpOhxRtgYZYDR33kBg" target="__blank">canal no Youtube</a>.
                </p>
                <p>
                    Também celebramos o <a href="https://www.sympla.com.br/open-data-day-recife__800192" target="__blank">Open Data Day</a> em parceria com o <a href="https://ip.rec.br" target="__blank">Instituto de Pesquisa em Direito e Tecnologia do Recife (IP.Rec)</a>, evento global com objetivo de ressaltar a importância da abertura de dados e incentivar o reuso pelo governo, empresas e sociedade civil.
                </p>
                <br>
                <br>
                <h4 class="section-title">Código de conduta</h4>
                <p>
                    Prezamos por ambientes inclusivos, livre de intimidações e discriminação em todos os eventos, conforme detalhado no <a href="../../codigo-conduta.html" target="__blank">Código de Conduta WiDS</a>, o qual recomendamos leitura.
                </p>

            </div>
        </div>
    </div>
</section>