<section id="schedule" class="section schedule">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="section-title">Programação</h3>
            </div>
        </div>        
        
        
        <div class="row">     
            
            <div class="col-sm-6">
                
                <h4 class="section-title">14 agosto</h4>
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Horário</th>
                            <th>Atividade</th>
                            <th>Facilitadora</th>                             
                        </tr>
                    </thead>

                    <tbody> 
                         
                        {% assign day1 = site.data.conference_2020.schedule | where:"day","1" %}
                        {% for event in day1 %}
                        <tr>
                            <td data-title="Time">{{ event.hour }}</td>
                            <td data-title="Title">{{ event.title }} <a href="{{ event.youtube }}" target="_blank"><i class="ion-social-youtube"></i></a></td>
                            <td data-title="Speaker">{{ event.speaker }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

            <div class="col-sm-6">
                <h4 class="section-title">15 agosto</h4>
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Horário</th>
                            <th>Atividade</th>   
                            <th>Facilitadora</th>                         
                        </tr>
                    </thead>
                    <tbody>   

                        {% assign day2 = site.data.conference_2020.schedule | where:"day","2" %}
                        {% for event in day2 %}
                        <tr>
                            <td data-title="Time">{{ event.hour }}</td>
                            <td data-title="Title">{{ event.title }} 
                                {% if event.youtube !="" and event.youtube != nil %}
                                <a href="{{ event.youtube }}" target="_blank"><i class="ion-social-youtube"></i></a>
                                {% endif %}
                            </td>
                            <td data-title="Speaker">{{ event.speaker }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
                    
        </div>

    </div>

    
</section>