<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h3 class="section-title">WiDS Recife 2019</h3>

                <p>
                    Criado como um capítulo regional do <a href="https://www.widsconference.org"> Global WiDS </a>, o Women in Data Science Recife tem como objetivo dar visibilidade à experiências profissionais e pesquisas de mulheres cientistas de dados locais através de uma conferência gratuita anual, cuja programação é composta apenas por palestrantes que se identificam com o gênero feminino. Tendo sido a 1. edição em 2017.
                </p>
                <p>
                    Neste ano, houve em média 35 participantes.
                </p>
                
                <br>
                <br>
                <h4 class="section-title">Código de conduta</h4>
                <p>
                    Prezamos por ambientes inclusivos, livre de intimidações e discriminação em todos os eventos, conforme detalhado no <a href="../../codigo-conduta.html" target="_blank">Código de Conduta WiDS</a>, o qual recomendamos leitura.
                </p>

            </div>
        </div>
    </div>
</section>