<html>
    <head>
        <link rel="stylesheet" href="../../assets/css/header_conference_2019.css">
    </head>

    <body>
        <header id="site-header" class="site-header valign-center">
            <div class="intro">

                <h1>Women in Data Science Recife</h1>
                {% for item in site.data.conference_2019.header %}
                <h2>{{ item.date }}
                    
                    {% if item.youtube-link != "" and item.youtube-link != nil %}
                    
                    /

                    <figure>
                        <a href="{{ item.youtube-link }}" target="_blank">
                            <img src='assets/images/youtube.png' alt="Icone do youtube" width='90'>
                        </a>
                    </figure>
                    {% endif %}

                    {% if item.location != "" and item.location != nil %}
                    /
                    {{ item.location }}
                    {% endif %}
                </h2>

                {% if item.inscription-link != "" and item.inscription-link != nil %} 
                <a class="btn btn-white" data-scroll href="{{ item.inscription-link }}">Inscreva-se</a>
                {% endif %}
                {% endfor %} 
            </div>
        </header>
    </body>
</html>